<%- include("../layouts/user/product-header")-%>

<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/userAssets/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							The directors' passion for watches since a young age was how Chrono heaven was conceptualized. It was the largest luxury watch store in India when it opened its first 'shop in shop' concept boutique in 2015. Today, Chrono heaven defines the story of luxury watch retail, offering an assortment of the finest timepieces to cater to watch enthusiasts. Those with a passion for horology will find themselves in for a timeless experience with a diverse range from classics to contemporary during their visit.We provide exemplary customer service and additional facilities to clients and assist in finding solutions to everything they need with us.
						</p>

						<p class="stext-113 cl6 p-b-26">
							A first of its kind luxury experience for clients with a focus on a large space for brands as per international standards, has helped garner appreciation and support from clients which has helped us grow. Thanks to the support and goodwill earned within the first 3 years, Chrono heaven opened its 2nd boutique in kochi to bring the right luxury experience to customers in South kochi.
						</p>

						<p class="stext-113 cl6 p-b-26">
                            Any questions? Let us know in store at CHRONO HEAVEN ,8th floor (buisness tower), Kochi,Kerala, 676311 or call us on(+91) 96 99999999						
                        </p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/userAssets/images/about-01.png" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							We believe in providing a simple, personalized and transparent shopping experience to all clients along with the finest quality of customer service. Our team is a selection of trained and experienced individuals that assist one in making luxury accessible and approachable with an overall knowledgeable shopping experience. We are more like a family than a company and we aim to make our clients feel equally a part of this family. Our core values and beliefs stem from the mindset of a simple phrase,
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								To provide the most seamless shopping experience to luxury watch buyers through the provision of various services such as in-boutique service, home shopping and the most advanced omnichannel online shopping platform for luxury watches. 
							</p>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/userAssets/images/about-02.png" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	

<%- include("../layouts/user/footer")-%>