<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup - Chrono Heaven</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet" />

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Arial", sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f9f9f9;
        }

        .form-container {
            width: 100%;
            max-width: 400px;
            padding: 20px;
        }

        .card {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: white;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
            color: #333;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            color: #333;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-control:focus {
            outline: none;
            border-color: #a69259;
        }

        .btn-primary {
            width: 100%;
            padding: 12px;
            background-color: #a69259;
            border: none;
            border-radius: 4px;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #8b764d;
        }

        .error {
            color: #ca1515;
            font-size: 12px;
            margin-top: 5px;
        }

        .password-strength,
        .live-validation {
            font-size: 12px;
            margin-top: 5px;
        }

        .login-clr {
            color: #a69259;
        }

        .create-account {
            text-align: center;
            margin-top: 20px;
        }

        .create-account a {
            color: #a69259;
            text-decoration: none;
        }

        .create-account a:hover {
            color: #8b764d;
        }

        @media (max-width: 480px) {
            .logo img {
                width: 30px;
                height: 30px;
            }

            .logo h1 {
                font-size: 24px;
                margin-left: -8px;
            }

            .form-control {
                padding: 8px;
                font-size: 12px;
            }

            .btn-primary {
                padding: 8px;
                font-size: 14px;
            }

            h2 {
                font-size: 20px;
            }
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .icon {
            width: 20rem;
            height: auto;
            display: inline-block;
        }

        .input-wrapper {
            position: relative;
            width: 100%;
        }

        .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #a69259;
        }

        .toggle-password:hover {
            color: #8b764d;
        }

        .form-control {
            padding-right: 30px;
            /* Ensures space for the icon */
        }
    </style>
</head>

<body>
    <div class="form-container">
        <div class="card">
            <div class="logo">
                <img src="/userAssets/images/icons/logo-01.png" alt="Chrono Heaven Icon" class="icon" />
            </div>
            <h2>Create an Account</h2>
            <% if (messages.success) { %>
                <div class="alert alert-success" role="alert" style="color: green">
                    <%= messages.success %>
                </div>
                <% } %>
                    <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert" style="color: red">
                            <%= messages.error %>
                        </div>
                        <% } %>
                            <form id="signup-form" method="post" action="/signUp">
                                <div class="form-group">
                                    <label for="name">Name <span style="color: red">*</span></label>
                                    <input type="text" class="form-control" id="name" name="name" required />
                                    <div class="error" id="name-error"></div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email <span style="color: red">*</span></label>
                                    <input type="email" class="form-control" id="email" name="email" required />
                                    <div class="error" id="email-error"></div>
                                </div>
                                <div class="form-group">
                                    <label for="mobile">Mobile Number <span style="color: red">*</span></label>
                                    <input type="tel" class="form-control" id="mobile" maxlength="11" pattern="[0-9]+"
                                        name="mobile" required />
                                    <div class="error" id="mobile-error"></div>
                                </div>
                                <div class="form-group">
                                    <label for="referred_code">Referral code <span style="color: red">*</span></label>
                                    <input type="text" class="form-control" id="referred_code" maxlength="11"
                                        name="referred_code" />
                                    <div class="error" id="mobile-error"></div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password <span style="color: red">*</span></label>
                                    <div class="input-wrapper">
                                        <input type="password" class="form-control" id="password" name="password"
                                            required />
                                        <span id="togglePassword" class="toggle-password">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <div class="error" id="password-error"></div>
                                    <div class="password-strength" id="password-strength"></div>
                                    <div class="live-validation" id="password-validation"></div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm_password">Confirm Password <span
                                            style="color: red">*</span></label>
                                    <div class="input-wrapper">
                                        <input type="password" class="form-control" id="cpassword" name="cpassword"
                                            required />
                                        <span id="toggleCPassword" class="toggle-password">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <div class="error" id="cpassword-error"></div>
                                    <div class="live-validation" id="cpassword-validation"></div>
                                </div>
                                <button type="submit" class="btn-primary">Create an Account</button>
                            </form>
                            <p class="create-account">
                                Already have an account? <a href="/login">Login</a>
                            </p>
                            <p class="create-account">Go back to home <a href="/">Home</a></p>
        </div>
    </div>

    <script>

        document.getElementById("signup-form").addEventListener("submit", function (event) {
            var name = document.getElementById("name").value.trim();
            var email = document.getElementById("email").value.trim();
            var mobile = document.getElementById("mobile").value.trim();
            var password = document.getElementById("password").value.trim();
            var cpassword = document.getElementById("cpassword").value.trim();
            var isValid = true;

            if (name === "") {
                document.getElementById("name-error").innerText = "Name cannot be empty";
                isValid = false;
            } else {
                document.getElementById("name-error").innerText = "";
            }
            if (email === "") {
                document.getElementById("email-error").innerText = "Email cannot be empty";
                isValid = false;
            } else {
                document.getElementById("email-error").innerText = "";
            }
            if (mobile === "") {
                document.getElementById("mobile-error").innerText = "Mobile number cannot be empty";
                isValid = false;
            } else {
                document.getElementById("mobile-error").innerText = "";
            }
            if (password === "") {
                document.getElementById("password-error").innerText = "Password cannot be empty";
                isValid = false;
            } else {
                document.getElementById("password-error").innerText = "";
            }
            if (cpassword === "") {
                document.getElementById("cpassword-error").innerText = "Confirm password cannot be empty";
                isValid = false;
            } else {
                document.getElementById("cpassword-error").innerText = "";
            }

            var strongRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            if (!strongRegex.test(password)) {
                document.getElementById("password-error").innerText =
                    "Password must contain at least 8 characters, including an uppercase letter, a number, and a special character.";
                isValid = false;
            }

            if (password !== cpassword) {
                document.getElementById("cpassword-error").innerText = "Passwords do not match.";
                isValid = false;
            } else {
                document.getElementById("cpassword-error").innerText = "";
            }

            if (!isValid) {
                event.preventDefault();
            }
        });

        document.getElementById("password").addEventListener("input", function () {
            var password = this.value;
            var strength = document.getElementById("password-strength");
            var passwordValidation = document.getElementById("password-validation");
            var strongRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            passwordValidation.innerHTML = "";
            strength.innerHTML = "";

            if (password === "") {
                return;
            }

            if (!strongRegex.test(password)) {
                passwordValidation.innerHTML =
                    "Password must contain at least 8 characters, including an uppercase letter, a number, and a special character.";
            }

            if (password.length < 6) {
                strength.innerHTML = "Weak";
                strength.style.color = "red";
            } else if (password.length < 8) {
                strength.innerHTML = "Medium";
                strength.style.color = "orange";
            } else {
                strength.innerHTML = "Strong";
                strength.style.color = "green";
            }
        });

        function checkPasswordMatch() {
            var password = document.getElementById("password").value;
            var cpassword = document.getElementById("cpassword").value;
            var cpasswordValidation = document.getElementById("cpassword-validation");

            if (password === cpassword && password !== "") {
                cpasswordValidation.innerHTML = "Passwords match.";
                cpasswordValidation.style.color = "green";
            } else if (password !== cpassword && cpassword !== "") {
                cpasswordValidation.innerHTML = "Passwords do not match.";
                cpasswordValidation.style.color = "red";
            } else {
                cpasswordValidation.innerHTML = "";
            }
        }

        document.getElementById("password").addEventListener("input", checkPasswordMatch);
        document.getElementById("cpassword").addEventListener("input", checkPasswordMatch);

    </script>

    <script>

        document.getElementById("togglePassword").addEventListener("click", function () {
            var passwordInput = document.getElementById("password");
            var icon = this.querySelector("i");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        });

        // Toggle password visibility for confirm password field
        document.getElementById("toggleCPassword").addEventListener("click", function () {
            var cpasswordInput = document.getElementById("cpassword");
            var icon = this.querySelector("i");

            if (cpasswordInput.type === "password") {
                cpasswordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                cpasswordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        });
    </script>

</body>

</html>