<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-4 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					Categories
				</h4>

				<ul>
					<li class="p-b-10">
						<a href="/products/womens" class="stext-107 cl7 hov-cl1 trans-04">
							Women
						</a>
					</li>

					<li class="p-b-10">
						<a href="/products/mens" class="stext-107 cl7 hov-cl1 trans-04">
							Men
						</a>
					</li>

					<li class="p-b-10">
						<a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
							Products
						</a>
					</li>

					<li class="p-b-10">
						<a href="/" class="stext-107 cl7 hov-cl1 trans-04">
							Home
						</a>
					</li>
				</ul>
			</div>

			<div class="col-sm-6 col-lg-4 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					Help
				</h4>

				<ul>
					<li class="p-b-10">
						<a href="/user-profile/myorders" class="stext-107 cl7 hov-cl1 trans-04">
							Track Order
						</a>
					</li>

					<li class="p-b-10">
						<a href="/about" class="stext-107 cl7 hov-cl1 trans-04">
							About
						</a>
					</li>

					<li class="p-b-10">
						<a href="/contact" class="stext-107 cl7 hov-cl1 trans-04">
							Contact
						</a>
					</li>

					<li class="p-b-10">
						<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
							FAQs
						</a>
					</li>
				</ul>
			</div>

			<div class="col-sm-6 col-lg-4 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					GET IN TOUCH
				</h4>

				<p class="stext-107 cl7 size-201">
					Any questions? Let us know in store at CHRONO HEAVEN ,8th floor (buisness tower), Kochi, 
					Kerala, 676311 or call us on
					(+91) 96 99999999
				</p>

				<div class="p-t-27">
					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-facebook"></i>
					</a>

					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-instagram"></i>
					</a>

					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-pinterest-p"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="zmdi zmdi-chevron-up"></i>
	</span>
</div>

<script src="/userAssets/js/wishlist.js"></script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/bootstrap/js/popper.js"></script>
<script src="/userAssets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/select2/select2.min.js"></script>
<script>
	$(".js-select2").each(function () {
		$(this).select2({
			minimumResultsForSearch: 20,
			dropdownParent: $(this).next('.dropDownSelect2')
		});
	})
</script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/daterangepicker/moment.min.js"></script>
<script src="/userAssets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/slick/slick.min.js"></script>
<script src="/userAssets/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/parallax100/parallax100.js"></script>
<script>
	$('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
	$('.gallery-lb').each(function () { // the containers for all your galleries
		$(this).magnificPopup({
			delegate: 'a', // the selector for gallery item
			type: 'image',
			gallery: {
				enabled: true
			},
			mainClass: 'mfp-fade'
		});
	});
</script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/sweetalert/sweetalert.min.js"></script>
<script>
	$('.js-addwish-b2').on('click', function (e) {
		e.preventDefault();
	});

	$('.js-addwish-b2').each(function () {
		var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");

			$(this).addClass('js-addedwish-b2');
			$(this).off('click');
		});
	});

	$('.js-addwish-detail').each(function () {
		var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");

			$(this).addClass('js-addedwish-detail');
			$(this).off('click');
		});
	});

	/*---------------------------------------------*/

	$('.js-addcart-detail').each(function () {
		var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to cart !", "success");
		});
	});

</script>
<!--===============================================================================================-->
<script src="/userAssets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
	$('.js-pscroll').each(function () {
		$(this).css('position', 'relative');
		$(this).css('overflow', 'hidden');
		var ps = new PerfectScrollbar(this, {
			wheelSpeed: 1,
			scrollingThreshold: 1000,
			wheelPropagation: false,
		});

		$(window).on('resize', function () {
			ps.update();
		})
	});
</script>
<!--===============================================================================================-->
<script src="/userAssets/js/main.js"></script>
<!--===============================================================================================-->

<script>
document.addEventListener('DOMContentLoaded', function() {
  const sortLinks = document.querySelectorAll('.sort-link');
  const productContainer = document.querySelector('.isotope-grid');
  const searchInput = document.querySelector('input[name="search-product"]');
  const paginationContainer = document.querySelector('.pagination-container');
  
  const category = document.body.dataset.category || 'all';
  let currentSort = '';
  let currentSearch = '';
  let currentPage = 1;

  // Handle sorting
  sortLinks.forEach(link => {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      currentSort = this.getAttribute('data-sort');
      fetchProducts();
    });
  });

  // Handle search
  let searchTimeout;
  searchInput.addEventListener('input', function(e) {
    clearTimeout(searchTimeout);
    searchTimeout = setTimeout(() => {
      currentSearch = e.target.value;
      currentPage = 1; // Reset to first page on new search
      fetchProducts();
    }, 500);
  });

  function fetchProducts() {
    const queryParams = new URLSearchParams({
      sortBy: currentSort,
      category: category,
      page: currentPage
    });
    
    if (currentSearch) {
      queryParams.append('search', currentSearch);
    }

    fetch(`/sort-products?${queryParams.toString()}`)
      .then(response => response.json())
      .then(data => {
        renderProducts(data.products);
        renderPagination(data.pagination);
      })
      .catch(error => console.error('Error:', error));
  }

  function renderProducts(products) {
    productContainer.innerHTML = '';
    products.forEach(product => {
      const productHTML = `
        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
          <div class="block2">
            <div class="block2-pic hov-img0">
              <img src="/adminAssets/uploads/product_images/${product.images[0]}" alt="IMG-PRODUCT" />
              <a href="/product-details/${product._id}" 
                 class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                View
              </a>
            </div>
            <div class="block2-txt flex-w flex-t p-t-14">
              <div class="block2-txt-child1 flex-col-l">
                <a href="/product-details/${product._id}" 
                   class="product-name stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                  ${product.product_name}
                </a>
                ${getPriceHTML(product)}
                <div class="rating" style="margin-top: 5px; color: #d49311;">
                  ${getRatingHTML(product.averageRating, product.totalReviews)}
                </div>
              </div>
              <div class="block2-txt-child2 flex-r p-t-3">
                <a href="#" class="btn-addwish-b2 dis-block" data-product-id="${product._id}">
                  <img class="icon-heart1 dis-block trans-04" 
                       src="/userAssets/images/icons/icon-heart-${product.isInWishlist ? '02' : '01'}.png" 
                       alt="ICON" />
                </a>
              </div>
            </div>
          </div>
        </div>
      `;
      productContainer.innerHTML += productHTML;
    });

    // Reattach wishlist event listeners
    attachWishlistHandlers();
  }

  function renderPagination(pagination) {
    if (!pagination.totalPages || pagination.totalPages <= 1) {
      paginationContainer.innerHTML = '';
      return;
    }

    let paginationHTML = `
      <nav aria-label="Page navigation" class="pagination-container">
        <ul class="pagination justify-content-center align-items-center m-0">
    `;

    if (pagination.hasPrevPage) {
      paginationHTML += `
        <li class="page-item">
          <a href="#" data-page="${pagination.prevPage}" 
             class="page-link flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
            Previous
          </a>
        </li>
      `;
    }

    // Show limited page numbers
    const startPage = Math.max(1, pagination.currentPage - 2);
    const endPage = Math.min(pagination.totalPages, startPage + 4);

    for (let i = startPage; i <= endPage; i++) {
      paginationHTML += `
        <li class="page-item ${i === pagination.currentPage ? 'active' : ''}">
          <a href="#" data-page="${i}" 
             class="page-link flex-c-m stext-101 cl5 size-103 ${i === pagination.currentPage ? 'bg1' : 'bg2'} bor1 hov-btn1 p-lr-15 trans-04">
            ${i}
          </a>
        </li>
      `;
    }

    if (pagination.hasNextPage) {
      paginationHTML += `
        <li class="page-item">
          <a href="#" data-page="${pagination.nextPage}" 
             class="page-link flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
            Next
          </a>
        </li>
      `;
    }

    paginationHTML += `
        </ul>
      </nav>
    `;

    paginationContainer.innerHTML = paginationHTML;

    // Attach pagination event listeners
    const pageLinks = paginationContainer.querySelectorAll('[data-page]');
    pageLinks.forEach(link => {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        currentPage = parseInt(this.dataset.page);
        fetchProducts();
      });
    });
  }

  function getPriceHTML(product) {
    if (product.activeOffer && product.activeOffer.discountValue) {
      const discountedPrice = product.effectivePrice;
      return `
        <span class="mtext-106 cl2" style="text-decoration: line-through; color: #888;">
          ₹${formatPriceWithCommas(product.price)}
        </span>
        <span class="mtext-110 cl2" style="color: #e95a5c;">
          ₹${formatPriceWithCommas(discountedPrice)} (${product.activeOffer.discountValue}% off)
        </span>
      `;
    }
    return `
      <span class="mtext-110 cl2">
        ₹${formatPriceWithCommas(product.price)}
      </span>
    `;
  }

  function getRatingHTML(rating, totalReviews) {
    let html = '';
    for (let i = 1; i <= 5; i++) {
      if (i <= Math.floor(rating)) {
        html += '<i class="fa fa-star"></i>';
      } else if (i === Math.ceil(rating) && rating % 1 !== 0) {
        html += '<i class="fa fa-star-half-o"></i>';
      } else {
        html += '<i class="fa fa-star-o"></i>';
      }
    }
    html += `<span>(${totalReviews} reviews)</span>`;
    return html;
  }

  function attachWishlistHandlers() {
    const wishlistButtons = document.querySelectorAll('.btn-addwish-b2');
    wishlistButtons.forEach(button => {
      button.addEventListener('click', function(e) {
        e.preventDefault();
        const productId = this.dataset.productId;
        fetch(`/add-to-wishlist?productId=${productId}`, {
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            const img = this.querySelector('img');
            img.src = img.src.includes('01.png') 
              ? '/userAssets/images/icons/icon-heart-02.png'
              : '/userAssets/images/icons/icon-heart-01.png';
          }
        })
        .catch(error => console.error('Error:', error));
      });
    });
  }

  function formatPriceWithCommas(price) {
    price = parseFloat(price).toFixed(2);
    let [wholePart, decimalPart] = price.toString().split('.');
    let lastThree = wholePart.substring(wholePart.length-3);
    let otherNumbers = wholePart.substring(0, wholePart.length-3);
    if (otherNumbers !== '') lastThree = ',' + lastThree;
    let formattedWholePart = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
    return `${formattedWholePart}.${decimalPart}`;
  }
});
</script>

<script>
			const userData = <%- JSON.stringify(userData) %>;
			function showToast(message, isSuccess = true) {
				Toastify({
					text: message,
					duration: 1000,
					gravity: "top",
					position: "center",
					backgroundColor: isSuccess ? "#b9a273" : "#f44336",
					stopOnFocus: true,
					style: {
						borderRadius: '5px',
					}
				}).showToast();
			}
	
	document.addEventListener('DOMContentLoaded', function() {
    const wishlistButtons = document.querySelectorAll('.btn-addwish-b2');

    wishlistButtons.forEach(button => {
      button.addEventListener('click', function(e) {
        e.preventDefault();
        const heartIcon = this.querySelector('.icon-heart1');

        if (userData) {
          if (heartIcon.src.includes('icon-heart-02.png')) {
            showToast('Product removed from wishlist');
          } else {
            showToast('Product added to wishlist!');
          }
        } else {
          window.location.href = '/login';
        }
      });
    });
  });
			
</script>

</body>

</html>